body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #3b013b;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    vertical-align: top;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

ul {
    list-style: square;
}


.urlcol {
    word-break: break-all;
}

#box {
    background-color: #eeeeee;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 5px;
    width: 1000px;
}

#footer {
    margin-top: 20px;
    margin-bottom: 0px;
    font-style: italic;
    font-size: 12px;
}
