appdirs==1.4.4
attrs==19.3.0
backcall==0.2.0
cfgv==3.1.0
distlib==0.3.1
dparse==0.5.1
filelock==3.0.12
identify==1.4.23
ipython==7.16.1
ipython-genutils==0.2.0
jedi==0.17.1
more-itertools==8.4.0
nodeenv==1.4.0
packaging==20.4
parso==0.7.0
pexpect==4.8.0
pickleshare==0.7.5
pluggy==0.13.1
pre-commit==2.6.0
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.9.0
Pygments==2.6.1
pyparsing==2.4.7
pytest==5.4.3
requirements-tools==1.2.3
safety==1.9.0
setuptools==49.1.2
toml==0.10.1
traitlets==4.3.3
virtualenv==20.0.26
wcwidth==0.2.5
