{% extends "base.html" %}
{% block title %}Cat View{% endblock %}
{% block body %}
        <h1>Cat View</h1>
        <p><a href="/">Home</a></p>
        <table>
            <tr>
                <th>Name</th>
                <th>#</th>
                <th>URL</th>
                <th>Preview</th>
            </tr>
            {% for name, rows in cats %}
            {% for idx, row in enumerate(rows, start=1) %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ idx }}</td>
                <td class="urlcol"><a href="{{ row.url }}" target="_blank">{{ row.url }}</a></td>
                <td><img src="{{ row.url }}" alt="preview" height="150"/></td>
            </tr>
            {% endfor %}
            {% endfor %}
        </table>
{% endblock %}
